<div>
  <div class = "space"></div>
  <div [formGroup]="filterForm">
      <div class="filter">
          <label class="week">Week:</label>
          <mat-select class="form-control" formControlName="weekrefresh" >
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
          </mat-select>
          <button mat-raised-button color="accent" class="submit-button" (click)="openDialog()">Generate Qr code</button>
      </div>
  </div>
  <div class = "space"></div>
      <h2 class="font">Your attendance log</h2>
  <div class="table-container">
    <mat-table [dataSource]="attendances" class="mat-elevation-z8">
    
        <!-- Firstname Column -->
        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef> Firstname </mat-header-cell>
          <mat-cell *matCellDef="let attendance"> {{attendance.first_name}} </mat-cell>
        </ng-container>
    
        <!-- Lastname Column -->
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef> Lastname </mat-header-cell>
          <mat-cell *matCellDef="let attendance"> {{attendance.last_name}} </mat-cell>
        </ng-container>
    
        <!-- attendance Column -->
        <ng-container matColumnDef="group">
          <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
          <mat-cell *matCellDef="let attendance"> {{attendance.group}} </mat-cell>
        </ng-container>        

        <!-- Week Column -->
        <ng-container matColumnDef="week_num">
          <mat-header-cell *matHeaderCellDef> Week </mat-header-cell>
          <mat-cell *matCellDef="let attendance"> {{attendance.week_num}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>  
</div>
