table {
    width: 100%;
}

.create-attendance {
    margin: 16px 0 0 10px;
}

.table-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.filter{
    display: flex;
}
.mat-column-student_id {
    flex: 0 0 180px;
  }
.submit-button {
    margin-left: 5px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 20em;  height: 3em;
}
.space{
    margin:30px;
}
mat-cell{
    display:flex !important;
    justify-content:center!important;

}

mat-header-cell {
    display:flex;
    justify-content:center;
}