table {
    width: 100%;
}

.create-attendance {
    margin: 16px 0 0 10px;
}

.table-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.filter{
    display: flex;
}
.submit-button {
    margin-left: 5px;
}
.space{
    margin:30px;
}
mat-cell{
    display:flex !important;
    justify-content:center!important;

}

mat-header-cell {
    display:flex;
    justify-content:center;
}